.image {
  position: relative;
  /*width: 100%;*/
}

.main-img{
  /*background-image: url('../html/Newark_DE_Main_Street.jpg');*/
  -webkit-filter: blur(10px);
  filter: blur(10px);
  width: 100%;
  height: 10%;
}

h1 {
  left: 0;
  position:absolute;
  text-align:center;
  top: 30px;
  width: 100%
}

p {
  left: 0;
  position:absolute;
  text-align:center;
  top: 250px;
  width: 100%
}

body {
  margin-top: 50px;
}

.brand-img {
  width: 25px;
  height: 25px;
}
