#map {
  height: 500px;
  margin-bottom: 20px;
 }

body {
  margin-top: 50px;
}

.panel-body h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.panel:hover {
  cursor: pointer;
}

#minimap {
  height: 250px;
  width: 250px;
  margin-top: 20px;
}

.flashdeals {
  margin-top: 20px;
}

.normal_cap {
  color: blue;
}

.high_cap {
  color: orange;
}

.max_cap {
  color: red;
}

.res_info {
  margin-top: 20px;
}

.popup_img {
  width: 100%;
}

.popup_header {
  margin-bottom: 0px;
}

.popup_customers {
  margin-top: 0px;
}
