<!doctype html>
<html>
  <head>
    <title>Input Flash Deal</title>

    <link rel="icon" type="image/png" href="/img/heat_logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
    <link rel="stylesheet" href="/css/live_style.css">
  </head>
  <body class="bananas">
    <% include ./partials/nav %>
    <div class="container">
      <div>
      <img class="animate pull-right" src="/img/heat_logo.png" alt="HEAT LOGO">
      </div>
      <h1>Restaurant Heat Map+</h1>
      <h3>by Jeremy, Kyle, and Natalie</h3>
      <p>A heat map that tracks how busy restaurants are in a given area. Users can navigate a map to see what restaurants are busy and also pick up sweet flash deals. Restaurant owners can view data about how busy their restaurant is and toss out flash deals to attract customers to their restaurant.</p>

      <p>For this project we used Postgres, Express, Angular, Node.js with a dash of javascript magic and some css styling. Don't forget bootstrap!</p>
    </div>

    <% include ./partials/vendor %>
  </body>
</html>
